{% extends "base.html" %}
{% block title%} Consumo {% endblock %}
{% block body %}
<header class="content-header mb-4 d-flex justify-content-between align-items-center">
    <div style="width: 100%;">
        <h1>Consumo</h1>
        <p>Veja a lista de todos os consumos cadastrados</p>
    </div>
    <div>
        <a href="{{url_for('consumo.form_consumo')}}" class="btn btn-success">Cadastrar</a>
    </div>
</header>

<table class="default-table">
    <thead>
        <tr>
            <th> Gênero Alimentício</th>
            <th> Quantidade </th>
            <th> Data </th>
            <th> Refeição </th>
            <th> Responsável </th>
        </tr>
    </thead>
    <tbody id="tabela-consumo">
    </tbody>
</table>

<script src="{{ url_for('static', filename = 'js/consumo.js')}}"></script>

{% endblock %}