{% extends "base.html" %}
{% block body %}
<h3> Gênero Alimentício Cadastrados </h3>

<a href="{{url_for('routes_bp.form_genero')}}"> Inserir Gênero Alimentício </a>

<table border="1">
    <thead>
        <tr>
            <td> Gênero Alimentício </td>
            <td> Unidade de Medida </td>
            <td> Estoque minimo </td>
        </tr>
    </thead>
    <tbody id="tabela-genero">
        <!-- Conteúdo inserido via JS -->
    </tbody>
</table>

<script src="{{ url_for('static', filename = 'js/genero.js')}}"></script>
{% endblock %}