{% extends "base.html" %}

{% block title %} Estoque {% endblock %}

{% block body %}
<h3> Estoque Disponível </h3>

<a href="{{url_for('routes_bp.form_estoque')}}"> Inserir novo lote </a>

<table border="1">
    <thead>
        <tr>
            <td> Gênero Alimentício </td>
            <td> Unidade de Medida </td>
            <td> Quantidade em Estoque </td>
        </tr>
    </thead>
    <tbody id="tabela-estoque">
        <!-- Conteúdo inserido via JS -->
    </tbody>
</table>

<script src="{{ url_for('static', filename = 'js/estoque.js')}}"></script>

{% endblock %}