<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Document {% endblock %} </title>
    <link rel="stylesheet" href={{ url_for('static', filename = 'css/style.css') }}>
</head>
<body>
    <nav>
        <ul>
            <li> <a href="{{ url_for('estoque.listar_estoque') }}"> Estoque </a> </li>
            <li> <a href="{{ url_for('genero.listar_genero') }}"> Genero Alimenticio </a> </li>
            <li> <a href="{{ url_for('consumo.listar_consumo') }}"> Consumo </a> </li>
        </ul>
    </nav>
    {% block body %}

    {% endblock %}
</body>
</html>