{% extends "base.html"%}

{% block title %} Cadastrar Gênero Alimentício {% endblock %}

{% block body %}
<header class="content-header mb-4 d-flex justify-content-between align-items-center">
    <div style="width: 100%;">
        <h1>Cadastro de Gênero Alimentício</h1>
        <p>Cadastre um novo gênero alimentício</p>
    </div>
    <div>
        <a href="{{url_for('genero.listar_genero')}}" class="btn btn-success">Voltar</a>
    </div>
</header>

<form action="/genero/inserir" method="post" class="container-fluid">
    <div class="row">
        <div class="col-12 m-2">
            <label for="genero" class="form-label">Nome: </label>
            <input class="form-control" type="text" name="genero" id="genero">
        </div>
        <div class="col-12 m-2">
            <label for="medida" class="form-label">Unidade de medida: </label>
            <select name="medida" id="medida" class="form-control">
                <option value="" selected disabled>-- Selecione --</option>
                <option value="Unidade">Unidade</option>
                <option value="Kg">Kg</option>
                <option value="Litro">Litro</option>
            </select>
        </div>
        <div class="col-12 m-2">
            <label for="genero">Estoque Minimo: </label>
            <input type="number" name="min" id="min" step="0.1" min="0" placeholder="0,0" class="form-control">
        </div>
        <div class="col-12 m-2">
            <input type="submit" value="Adicionar" class="form-control btn btn-success">
        </div>
    </div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const medida = document.getElementById("medida");
    const inputMin = document.getElementById("min");

    medida.addEventListener("change", function () {
        if (medida.value === "Unidade") {
            inputMin.step = "1";
            inputMin.placeholder = "0";
        } else {
            inputMin.step = "0.1";
            inputMin.placeholder = "0,0";
        }
    });
});
</script>

{% endblock %}