{% extends "base.html"%}

{% block title %} Cadastrar Gênero Alimentício {% endblock %}

{% block body %}

<h3> Cadastro de Gênero Alimentício </h3>

<form action="/genero/inserir" method="post">

    Nome: <input type="text" name="genero" id="genero">
    <br>
    Unidade de Medida:
    <select name="medida" id="medida">
        <option value="" selected disabled>-- Selecione --</option>
        <option value="Unidade">Unidade</option>
        <option value="Kg">Kg</option>
        <option value="Litro">Litro</option>

    </select>
    <br>
    Estoque Mínimo: <input type="number" name="min" id="min" step="0.1" min="0" placeholder="0,0">
    <br>
    <input type="submit" value="Adicionar">
</form>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const medida = document.getElementById("medida");
    const inputMin = document.getElementById("min");

    medida.addEventListener("change", function () {
        if (medida.value === "Unidade") {
            inputMin.step = "1";
            inputMin.placeholder = "0";
        } else {
            inputMin.step = "0.1";
            inputMin.placeholder = "0,0";
        }
    });
});
</script>

{% endblock %}