{% extends "base.html" %}
{% block title%} Genêros {% endblock %}
{% block body %}
<header class="content-header mb-4 d-flex justify-content-between align-items-center">
    <div style="width: 100%;">
        <h1>Gênero Alimentício Cadastrados</h1>
        <p>Veja a lista de todos os genêros cadastrados</p>
    </div>
    <div>
        <a href="{{url_for('genero.form_genero')}}" class="btn btn-success">Cadastrar</a>
    </div>
</header>

<table class="default-table">
    <thead>
        <tr>
            <td> Gênero Alimentício </td>
            <td> Unidade de Medida </td>
            <td> Estoque minimo </td>
        </tr>
    </thead>
    <tbody id="tabela-genero">
     
    </tbody>
</table>

<script src="{{ url_for('static', filename = 'js/genero.js')}}"></script>
{% endblock %}