{% extends "base.html" %}

{% block title %} Consumo {% endblock %}

{% block body %}

<h3> Consumo </h3>

<form action="{{ url_for('routes_bp.inserir_consumo') }}" method="POST">

    Gênero:
    <select id="produto_id" name="produto_id" required></select>

    <br>

    Lote (validade):
    <select id="lote_id" name="lote_id" required>
        <option value="">-- Selecione o lote --</option>
    </select>

    <br>

    Quantidade:
    <input type="number" step="0.01" name="quantidade" id="quantidade" required>

    <br>

    Data:
    <input type="date" name="data" id="data" required>

    <br>

    Refeição:
    <select name="refeicao" id="refeicao">
        <option value="" selected disabled>-- Selecione --</option>
        <option value="Lanche">Lanche</option>
        <option value="Almoço">Almoço</option>
    </select>

    <br>

    Nº de alunos:
    <input type="number" name="numero_alunos" id="numero_alunos">

    <br>

    Responsável:
    <input type="text" name="responsavel" id="responsavel">

    <br>
    <input type="submit" value="Adicionar">
</form>

<script src="{{ url_for('static', filename = 'js/form_consumo.js')}}"></script>


{% endblock %}