{% extends "base.html" %}
{% block body %}
<h3> Consumo </h3>

<a href="{{url_for('routes_bp.form_consumo')}}"> Inserir Consumo</a>

<table border="1">
    <thead>
        <tr>
            <td> Gênero Alimentício</td>
            <td> Quantidade </td>
            <td> Data </td>
            <td> Refeição </td>
            <td> Responsável </td>
        </tr>
    </thead>
    <tbody id="tabela-consumo">
        <!-- Conteúdo inserido via JS -->
    </tbody>
</table>

<script src="{{ url_for('static', filename = 'js/consumo.js')}}"></script>

{% endblock %}