/* Estilo para Nav e Tabelas  */

.default-table {
  border-radius: 05px;
  width: 100%;
}

.table-header {
  border-left: 01px solid rgb(230, 230, 230);
  border-right: 01px solid rgb(230, 230, 230);
  border-top: 01px solid rgb(230, 230, 230);
  padding: 10px;
}

.default-table,
.default-table tr,
.default-table td,
.default-table th {
  border-collapse: collapse;
  border: 01px solid rgb(230, 230, 230);
  padding: 10px;
}

.linha-vencida {
    background-color: #f8d7da; /* vermelho claro */
}

.linha-alerta {
    background-color: #fff3cd; /* amarelo claro */
}